:root{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.15;
    tab-size: 4;

}
* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: hidden;
}
#second-control{
    bottom: -2rem !important;
}
button:focus{
    outline: none !important;
}
.preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../img/background/preloader.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    z-index: 30;
    transition: 800ms linear;
}
.preloader img{
    position: absolute;
    width: 6rem;
    margin: auto;
    left: 0;
    right: 0px;
    bottom: 100px;
    opacity: 0;
    animation: preloading ease-in 0.5s infinite alternate;
}
.preloader::before{
    content: '';
    display: block;
    position: absolute;
    border-top: solid white 5px;
    animation: loading 4s ;
}
@keyframes loading{
    from{
        width: 0px;
    }
    to{
        width: 100%;
    }
}
@keyframes preloading{
   from{
       opacity: 0;
   }
   to{
       opacity: 1;
   }
}
.ubisoft-menu{
    position: fixed;
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    z-index: 10;
}
.logo-ubisoft{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.logo-ubisoft > img{
    height: 50px;
    width: 80px;
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}
.lang-button{
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    background-color: #292828;
    color: white;
    padding: 18px 10px 17px 10px;
    border: none;
    transition: linear 200ms;
    
}
.lang-button img:first-child{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.lang-button img:last-child{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
.lang-button:focus{
    outline: none;
}
#eng-button{
    position: relative;
    z-index: 2;
}
.active-lang{
    transform: rotate(180deg);
}
#vn-button{
    position: absolute;
    top: 0;
    left: 144px;
    opacity: 0.8;
    background-color: rgb(102, 102, 102);
}
#vn-button:hover{
    opacity: 1;
}
.langdown{
    transform: translateY(56px);
}
.main-menu > ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}
.main-menu > ul > li{
    width: 8rem;
    text-align: center;
    padding: 1rem 0 1rem 0;
    margin-right: 2rem;
    font-weight: 500;
    transition: linear 100ms;
}
.main-menu > ul > li > span{
    cursor: pointer;
}
.main-menu ul li:hover{
    background-color: white;
    color: black;
}
.drop-down{
    list-style: none;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 10px 10px black;
    right: 0;
    top: 56px;
    background-color: white;
}
.drop-down ul{
    list-style: none;
}
.play-left,
.shop-left{
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-wrap: wrap;
    margin-right: 5rem;
}
.play-left h3,
.shop-left h3{
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 600;
}
.play-left h3::after,
.shop-left h3::after{
    content: "";
    display: block;
    border-bottom: gray 1px solid;
    margin-top: 5px;
}
.play-left button,
.shop-left button{
    position: relative;
    padding: 10px 30px 10px 30px;
    border: solid 3px rgb(173,0,0);
    border-radius: 25px;
    background-color: rgb(173, 0, 0);
    color: white;
    font-weight: 700;
    top: 16px;
    margin: 3rem auto 3rem auto;
    transition: linear 100ms;
}
.play-left button:hover,
.shop-left button:hover,
.shop-right button:hover,
.explore button:hover,
.connect button:hover{
    color: rgb(173, 0, 0);
    background-color: white;
}
.play-left-content-left,
.shop-left-content-left{
    width: 40%;
    margin-left: 5rem;
}
.play-left-content-right ul,
.shop-left-content-right ul{
    width: 260px;
}
.play-left-content-left ul li,
.play-left-content-right ul li,
.shop-left-content-left ul li,
.shop-left-content-right ul li{
    font-weight: 300;
    margin-top: 10px;
    cursor: pointer;
}
.play-left-content-left ul li:hover,
.play-left-content-right ul li:hover,
.shop-left-content-left ul li:hover,
.shop-left-content-right ul li:hover{
    color: black;
    font-weight: 500;
}
.play-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-right: 5rem;
}
.play-right h3{
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 600;
}
.play-right img{
    position: relative;
    width: 100%;
}
.play-right button{
    padding: 10px 30px 10px 30px;
    border: solid 3px rgb(0,0,194);
    border-radius: 25px;
    background-color: rgb(0, 0, 194);
    color: white;
    font-weight: 700;
    margin: 4rem auto 2rem auto;
    transition: linear 100ms;
}
.play-right button:hover{
    background-color: white;
    color: rgb(0, 0, 194);
}
.shop-right{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.shop-right h3{
    position: relative;
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    left: 70px;
}
.shop-right h3::after{
    content: "";
    display: block;
    border-bottom: gray 1px solid;
    margin-top: 5px;
    width: 600px;
}
.shop-right ul{
    display: flex;
    justify-content: center;
    text-align: left;
}
.shop-right ul li{
    width: 150px;
    margin: 2rem;
    cursor: pointer;
}
.shop-right ul li:hover h2{
    text-decoration: underline;
}
.shop-right img{
    width: 150px;
}
.shop-right h2{
    font-size: 16px;
    margin-top: 5px;
    font-weight: 700;
}
.shop-right p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}
.shop-right span{
    font-size: 24px;
    color: rgb(255, 66, 98);
}
.shop-right button,
.explore-left button,
.connect button{
    position: relative;
    padding: 10px 30px 10px 30px;
    border: solid 3px rgb(173,0,0);
    border-radius: 25px;
    background-color: rgb(173, 0, 0);
    color: white;
    font-weight: 700;
    margin: 2rem auto 2rem auto;
    transition: linear 100ms;
}
.explore{
    display: flex;
    text-align: left;
}
.explore h3{
    margin: 2rem 0 0 1rem;
    font-size: 16px;
    font-weight: 600;
}
.explore h3::after{
    content: "";
    display: block;
    border-bottom: gray 1px solid;
    margin-top: 5px;
    width: 40%;
}
.explore-left ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.explore-left ul li{
    display: flex;
    position: relative;
    margin: 1rem;
    cursor: pointer;
}
.explore-left ul li:hover h2{
    text-decoration: underline;
}
.explore-left ul li img{
    width: 200px;
    margin-right: 1rem;
}
.explore-left ul li h2{
    font-size: 16px;
    width: 300px;
    font-weight: 700;
}
.explore-left ul li div{
    width: 300px;
}
.explore-left ul li div p{
    font-weight: 300;
}
.explore-right{
    width: 60%;
    background-color: rgb(245, 245, 245);
    border-radius: 0 0 30px 0;
}
.explore-right ul li{
    margin: 1rem;
    color: rgb(173, 0, 0);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.explore-right ul li:hover{
    background-color: rgb(245, 245, 245);
    color: black;
    text-decoration: underline;
}
.connect{
    display: flex;
}
.connect-left{
    display: flex;
}
.connect h3{
    font-size: 16px;
    text-align: left;
}
.connect-left-content,
.connect-right-content{
    margin: 1rem 2rem;
}
.connect-left-content img{
    width: 300px;
    height: 300px;
    cursor: pointer;
}
.connect-left-content p{
    margin-top: 10px;
    width: 300px;
    font-weight: 400;
    text-align: left;
}
.connect-right-content p{
    margin-top: 10px;
    font-weight: 400;
    text-align: left;
}
.connect-right-content img{
    height: 300px;
    cursor: pointer;
}
.connect-right-content button{
    position: relative;
    top:48px;
}
.main-menu ul li:hover .drop-down{
    display: flex;
}   
.login{
    display: flex;
    align-items: center;
}
.search-area{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-area button{
    background-color: #00000000;
    border: none;
}
.search-area button:focus{
    outline: none;
}
.search-area img{
    width: 20px;
}
.search-area button{
    margin-right: 2rem;
}
.search-area input{
    position: absolute;
    width: 45rem;
    border: none;
    padding: 10px 1rem 10px 1rem;
    height: 56.8px;
    right: 245px;
    top: -10rem;
    margin: auto;
    border-radius: 10px 10px 0 0;
    outline: none;
    transition: all 0.5s ease-out;
}
.search-active{
    transform: translateY(9rem);
}
.login-round{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.5;
    transition: linear 100ms;
}
.login-round:hover{
    opacity: 1;
}
.login-round div{
    padding: 0 1rem 0 5px;
    font-size: 16px;
    font-weight: 700;
    transition: linear 100ms;
}
.login-round img {
    width: 22px;
    height: 22px;
}
.banner-logo{
    position: absolute;
    width: 200px;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
}
.banner-content{
    position: absolute;
    color: white;
    margin: auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
}
.banner-content h2{
    font-size: 60px;
    text-shadow: 8px 5px black;
    font-weight: 700;
    letter-spacing: 5px;
}
.valhalla-button,
.odyssey-button,
.origins-button,
.syndicate-button,
.unity-button,
.iv-button,
.iii-button,
.revelations-button,
.brotherhood-button,
.rogue-button{
    width: 200px;
    color: white;
    text-shadow: 2px 2px black;
    padding: 1rem 0 1rem 0;
    border-radius: 35px;
    margin: 2rem 5rem 0 5rem;
    font-size: 16px;
    font-weight: 700;
    transition: linear 100ms;
}
.valhalla-button:hover,
.odyssey-button:hover,
.origins-button:hover,
.syndicate-button:hover,
.unity-button:hover,
.iv-button:hover,
.iii-button:hover,
.revelations-button:hover,
.brotherhood-button:hover,
.rogue-button:hover{
    transform: scale(1.2);
}
.valhalla-button{
    background-color: rgb(16, 165, 150);
    border: rgb(16, 165, 150) 3px solid;
}
.odyssey-button{
    background-color: rgb(168, 124, 66);
    border:rgb(168, 124, 66) 3px solid;
}
.origins-button{
    background-color: rgb(216, 146, 67);
    border: rgb(216, 146, 67) 3px solid;
}
.syndicate-button{
    background-color: rgb(60, 71, 86);
    border: rgb(60, 71, 86) 3px solid;
}
.unity-button{
    background-color: rgb(81, 133, 195);
    border: rgb(81, 133, 195) 3px solid;
}
.iv-button{
    background-color: rgb(39, 39, 39);
    border:  rgb(39, 39, 39) 3px solid;
}
.iii-button{
    background-color: rgb(112, 112, 112);
    border: rgb(112, 112, 112) 3px solid;
}
.revelations-button{
    background-color: rgb(52, 90, 83);
    border:  rgb(52, 90, 83) 3px solid;
}
.brotherhood-button{
    background-color: rgb(133, 0, 0);
    border: rgb(133, 0, 0) 3px solid;
}
.rogue-button{
    background-color: rgb(0, 0, 0);
    border:  rgb(0, 0, 0) 3px solid;
}
.all-games-tittle{
    text-align: center;
}
.all-games-tittle h3{
    font-size: 40px;
    margin-top: 4rem;
}
.all-games-slide{
    position: relative;
}
.all-games-slide button{
    position: absolute;
    padding: 10px 30px 10px 30px;
    border: solid 3px rgb(173,0,0);
    border-radius: 25px;
    background-color: rgb(173, 0, 0);
    color: white;
    font-weight: 700;
    margin: 2rem auto 2rem auto;
    transition: linear 100ms;
    bottom: -4rem;
    right: 0;
    left: 0;
}
.all-games-slide button:hover{
    color: rgb(173, 0, 0);
    background-color: white;
}
.news{
    position: relative;
}
.news button{
    position: absolute;
    padding: 10px 50px 10px 50px;
    border: solid 3px rgb(173,0,0);
    border-radius: 30px;
    background-color: rgb(173, 0, 0);
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin: 0 auto 2rem auto;
    transition: linear 100ms;
    right: 0;
    left: 0;
}
.news button:hover{
    color: rgb(173, 0, 0);
    background-color: white;
}
.news-tittle{
    text-align: center;
    margin-top: 8rem;
}
.news-list{
    list-style: none;
    display: flex;
    justify-content: center;
}
.news-list li{
    margin: 1rem;
    color: red;
    font-weight: 500;
    cursor: pointer;
}
.news-article{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.news-article h3{
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.news-article h3:hover{
    text-decoration: underline;
}
.news-article-left{ 
    margin-right: 3rem;
}
.news-article-left > img{
    width: 600px;
}
.news-article-left img:not(:first-child){
    width: 350px;
}
.news-article-left > div{
    position: relative;
    display: flex;
    margin-top: 5rem;
    bottom: 13px;
}
.news-article-right img{
    width: 350px;
}
.news-article-right > div{
    display: flex;
    margin-bottom: 3rem;
}
.img-para{
    margin-left: 1rem;
}
.sp-tittle{
    margin-right: 1rem;
}
.store{
    background-color: rgb(236, 236, 236);
    margin-top: 10rem;
}
.store h1{
    text-align: center;
    padding: 5rem;
}
.store-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10rem;
}
.store-content p{
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: 700;
    background-image: linear-gradient(#000000,#00000090,#00000000);
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
}
.store-content div{
    position: relative;
    width: 450px;
    margin: 1rem;
}
.store-container{
    cursor: pointer;
}

.store-content img{
    width: 450px;
    height: 500px;
    box-shadow: 8px 8px rgb(85, 85, 85);
}
.ubisoft-community{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 48);
    padding: 5rem;
}
.ubisoft-community-img{
    margin-right: 3rem;
}
.ubisoft-community-img img{
    width: 450px;
}
.ubisoft-community-content img{
    width: 180px;
    height: 70px;
    margin-right: 2rem;
    cursor: pointer;
}
.ubisoft-community-content h1{
    color: white;
    margin-bottom: 2rem;
}
.ubisoft-community-content p{
    font-size: 25px;
    color:  white;
    font-weight: 400;
    margin-bottom: 2rem;
}
.social-contact{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-contact ul{
    list-style: none;
    display: flex; 
    padding: 8px 0 8px 0;
    margin-bottom: 0;
}
.social-contact img{
    height: 32px;
    width: 32px;
    opacity: 0.7;
    cursor: pointer;
    transition: linear 80ms;
}
.social-contact span{
    color: #888888;
    font-size: 14px;
    margin-left: 2rem;
}
.social-contact ul li{
    margin: 0 1rem 0 1rem;
}
.social-contact img:hover{
    opacity: 1;
}

.global-footer{
    background-color: rgb(29, 30, 33);
    display: flex;
    justify-content: space-between;
}
.footer-table{
    margin-top: 3rem;
    font-weight: 500;
}
.footer-table td{
    color: white;
    width: 12rem;
    padding-top: 5px;
    cursor: pointer;
    text-align: center;
}
.footer-table td:hover{
    text-decoration: underline;
}
.legaly{
    margin: 3rem 0 5rem 5rem;
}
.legaly img{
    width: 120px;
    height: 40px;
    margin-bottom: 5px;
    cursor: pointer;
}
.footer-link a{
    color: rgb(136, 135, 135);
    font-size: 12px;
}
.footer-link a:hover{
    color: white;
}
.footer-link a:first-child{
    padding-right: 10px;
}
.rate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 2rem;
}
.rate p{
    color: white;
}
.end{
    display: block;
    background-color: rgb(29, 30, 33);
    color:  rgb(136, 135, 135);
    font-size: 12px;
    text-align: center;
    padding: 0 1rem 1rem 1rem;
}

