:root{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.15;
    tab-size: 4;

}
* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* CSS UBISOFT MENU */
.ubisoft-menu{
    position: relative;
    width: 100%;
    height: 57px;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    z-index: 10;
}
.logo-ubisoft{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.logo-ubisoft > img{
    height: 50px;
    width: 80px;
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}
.lang-button{
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    background-color: rgb(42, 43, 47);
    color: white;
    padding: 18px 10px 17px 10px;
    border: none;
    transition: linear 200ms;
}
.lang-button img:first-child{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.lang-button img:last-child{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
.lang-button:focus{
    outline: none;
}
#eng-button{
    position: relative;
    z-index: 2;
    right: 5rem;
}
.active-lang{
    transform: rotate(180deg);
}
#vn-button{
    position: absolute;
    top: 0;
    right: 80px;
    opacity: 0.8;
    background-color: rgb(0,0,0);
}
#vn-button:hover{
    opacity: 1;
}
.langdown{
    transform: translateY(56px);
}
.main-menu ul{
    list-style: none;
    display: flex;
    margin: 0 0 0 5.5rem;
}

.main-menu ul li{
    padding: 0 1.5rem 0 1.5rem;
    font-weight: 500;
    opacity: 0.7;
    cursor: pointer;
    transition: linear 100ms;
}
.main-menu ul li:hover{
    opacity: 1;
}



.login{
    display: flex;
    align-items: center;
}
.search-area{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-area button{
    background-color: #00000000;
    border: none;
}
.search-area button:focus{
    outline: none;
}
.search-area img{
    width: 20px;
}
.search-area button{
    margin-right: 2rem;
}
.search-area input{
    position: absolute;
    width: 45rem;
    border: none;
    padding: 10px 1rem 10px 1rem;
    height: 56.8px;
    right: 245px;
    top: -10rem;
    margin: auto;
    border-radius: 10px 10px 0 0;
    outline: none;
    transition: all 0.5s ease-out;
}
.search-active{
    transform: translateY(9rem);
}
.login-round{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.5;
    transition: linear 100ms;
}
.login-round:hover{
    opacity: 1;
}
.login-round div{
    padding: 0 1rem 0 5px;
    font-size: 16px;
    font-weight: 700;
    transition: linear 100ms;
}
.login-round img {
    width: 22px;
    height: 22px;
}


/* CSS ASSASSIN MENU */
.ass-menu{
    position: sticky;
    top: -1px;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(42, 43, 47);
    z-index: 2;
    
}
.ass-logo img{
    height: 50px;
    width: 90px;
    margin-left: 5rem;
    cursor: pointer;
}
.ass-content{
    
    margin: auto;
    font-size: 20px;
    font-weight: 700;
}
.ass-content ul{
    list-style: none;
    display: flex;
    margin: auto;
}
.ass-content ul li{
    padding-right: 2rem;
    padding-left: 2rem;
}
.ass-content ul li a{
    text-decoration: none;
    color: white;
    transition: linear 100ms;
}
.ass-content ul li a:hover{
    color: rgb(82, 126, 110);
}
/* CSS Background */
.bg img{
    height: 100vh;
    width: 100%;
}

/* CSS Overview */
.overview{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.overview h2{
    width: 1220px;
    height: 150px;
    text-align: center;
    padding-top: 1rem;
    font-size: 72px;
    font-weight: 700;
    margin-top: -5rem;
    background-color: white;
}
.overview div{
   font-size: 20px;
   text-align: center;
   line-height: 2;
   width: 550px;
   margin: 1rem 0 5rem 0;
}
/* CSS Valhalla */
.valhalla{
    display: inline-flex;
    margin-top: 5rem;
    padding-top: 4rem;
}
.val-content{
    background-color: rgb(240, 243, 244);
    width: 40rem;
    padding: 0 5rem 3rem 2rem;
    margin: 10rem -5rem 0 7rem;
    height: fit-content;
    position: relative;
}
.val-content h2{
    font-size: 40px;
    padding: 2rem 2rem 1rem 2rem;
}
.val-content p{
    font-size: 18px;
    line-height: 2;
    padding: 0 0 3rem 2rem;
}
.val-content div{
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    margin-left: 2rem;
    background-color:  rgb(82, 126, 110);
    color: white;
    width: fit-content;
    border: rgb(82, 126, 110) solid 3px;
    border-radius: 50px;
    padding: 1rem 2rem 1rem 2rem;
    transition: linear 100ms;

}
.val-content div:hover{
    border: rgb(82, 126, 110) solid 3px;
    background-color: white;
    color:  rgb(82, 126, 110);
    font-weight: 500;

}
.val-img{
    margin: 0 0 0 -5rem;
}
.val-img img{
    width: 800px;
    height: 500px;
}

/* CSS Odyssey & Origins */

.odyssey_origins > h2{
    background-color: rgb(240, 243, 244);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding: 50px 0 50px 0;
    margin: 10.5rem 0 0 0 ;
}
.content-odyssey-origins{
    display: flex;
    justify-content: center; 
    background-color: rgb(240, 243, 244);
}
.content-odyssey-origins img{
    width: 560px;
    height: 320px;
}
.odyssey{
    width: 560px;
    margin-right: 2rem;
}
.origins{
    width: 560px;
    margin-left: 2rem;
}

.content-odyssey-origins h2{
    padding: 1rem 0 1rem 0;
    font-size: 32px;
    font-weight: 500;
}
.content-odyssey-origins p{
    line-height: 1.5;
    font-size: 16px;
    margin: 0 0 1rem 0;
}
/* Visit-Buy Button */
.visit-button{
    display: flex;
}
.visit-button div{
    color: rgb(82, 126, 110);
    font-size: 18px;
    font-weight: 500;
    padding: 18px 22px 18px 22px;
    border: rgb(82, 126, 110) 3px solid;
    border-radius: 10px;
    margin: 1rem 1rem 4rem 0;
    cursor: pointer;
    transition: linear 100ms;
}
.visit-button div:hover {
    color: white;
    background-color: rgb(82, 126, 110);
    border: rgb(82, 126, 110) 3px solid;
}
/* CSS Assassin'Creed BG WHITE */
.content-bg-white{
    display: flex;
    justify-content: center; 
    background-color: white;
    margin-top: 4rem;
}
.content-bg-white img{
    width: 560px;
    height: 320px;
}
.left{
    width: 560px;
    margin-right: 2rem;
}
.right{
    width: 560px;
    margin-left: 2rem;
}

.content-bg-white h2{
    padding: 1rem 0 1rem 0;
    font-size: 32px;
    font-weight: 500;
}
.content-bg-white p{
    line-height: 1.5;
    font-size: 16px;
    margin: 0 0 1rem 0;
}
/* CSS Assassin'Creed BG GRAY */
.content-bg-gray{
    display: flex;
    justify-content: center; 
    background-color: rgb(240, 243, 244);
    padding-top: 4rem;
}
.content-bg-gray img{
    width: 560px;
    height: 320px;
}
.content-bg-gray h2{
    padding: 1rem 0 1rem 0;
    font-size: 32px;
    font-weight: 500;
}
.content-bg-gray p{
    line-height: 1.5;
    font-size: 16px;
    margin: 0 0 1rem 0;
}

/* CSS Footer */
.social-contact{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-contact ul{
    list-style: none;
    display: flex; 
    padding: 8px 0 8px 0;
    margin-bottom: 0;
}
.social-contact img{
    height: 32px;
    width: 32px;
    opacity: 0.7;
    cursor: pointer;
    transition: linear 80ms;
}
.social-contact span{
    color: #888888;
    font-size: 14px;
    margin-left: 2rem;
}
.social-contact ul li{
    margin: 0 1rem 0 1rem;
}
.social-contact img:hover{
    opacity: 1;
}

/* Global Footer */ 
.global-footer{
    background-color: rgb(29, 30, 33);
    display: flex;
    justify-content: space-between;
}
.footer-table{
    margin-top: 3rem;
    font-weight: 500;
}
.footer-table td{
    color: white;
    width: 12rem;
    padding-top: 5px;
    cursor: pointer;
    text-align: center;
}
.footer-table td:hover{
    text-decoration: underline;
}
.legaly{
    margin: 3rem 0 5rem 5rem;
}
.legaly img{
    width: 120px;
    height: 40px;
    margin-bottom: 5px;
    cursor: pointer;
}
.footer-link a{
    color: rgb(136, 135, 135);
    font-size: 12px;
}
.footer-link a:hover{
    color: white;
}
.footer-link a:first-child{
    padding-right: 10px;
}
.lang{
    height: fit-content;
    color: white;
    margin: 3rem 5rem 0 0;
    display: flex;
    flex-direction: column;
}
.lang img{
    width: 16px;
    height: 16px;
}
.english, .vietnamese{
    display: flex;
    align-items: center;
}
.english span{
    cursor: pointer;
    position: relative;
}

.english span:hover .vietnamese{
    display: block;
}
.lang-container{
    margin-right: 5px;
    font-weight: 500;
}
.lang button{
    background-color: #ffffff00;
    border: none;
    margin: 0 0 5px 5px;
}
.rate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 7rem;
    right: 2rem;
}
.end{
    display: block;
    background-color: rgb(29, 30, 33);
    color:  rgb(136, 135, 135);
    font-size: 12px;
    text-align: center;
    padding: 0 1rem 1rem 1rem;
}



.all-games-tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all-games-tittle p{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}
.all-games-tittle h2{
    font-weight: 700;
    font-size: 40px;
    margin-top:  5rem ;
    color: red;
}
.all-games-tittle img{
    margin-right: 1rem;
}
.all-games-tittle span span{
    color: red;
}

