<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an account</title>
    <link rel="shortcut icon" href="../img/logo/logo.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/create.css">
</head>

<body>
    <main class="login">
        <header class="header">
            <a href="#" class="header__link">
                <img src="../img/create/logo.png" alt="" class="header__img">
            </a>
        </header>
        <div class="content">
            <div class="container-create" id="containerCreate">
                <h3>
                    <span>CREATE AN ACCOUNT</span>
                    <a href="login.html" class="login-link"><span class="login-text">LOGIN</span></a>
                </h3>
                <form>
                    <div class="contain-question">
                        <input type="text" id="email" class="question" required autocomplete="off" />
                        <label for="email" class="text-lbl">
                            <p class="text">Email address</p>
                        </label>
                        <img src="../img/create/icon1.svg" class="icon icon1" />
                        <div>
                            <span><i>Our email rules</i></span>
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="contain-question">
                        <input type="text" id="confirmEmail" class="question" required autocomplete="off" />
                        <label for="confirmEmail" class="text-lbl">
                            <p class="text">Confirm your email address</p>
                        </label>
                        <img src="../img/create/icon1.svg" class="icon icon1" />
                    </div>
                    <div class="contain-question">
                        <input type="password" id="password" class="question" required autocomplete="off" />
                        <label for="password" class="text-lbl">
                            <p class="text">Password</p>
                        </label>
                        <img src="../img/create/icon2.svg" class="icon icon2" />
                        <div>
                            <span><i>Our password rules</i></span>
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="contain-question">
                        <input type="text" id="userName" class="question" required autocomplete="off" />
                        <label for="userName" class="text-lbl">
                            <p class="text">Ubisoft username</p>
                        </label>
                        <img src="../img/create/icon3.svg" class="icon icon2" />
                        <div>
                            <span><i>Usernames must</i></span>
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="contain-question">
                        <div class="date-of-birth">
                            <div>Date of birth</div>
                        </div>
                        <div class="container-select">
                            <select class="select-group select-group-day" formcontrolname="day">
                                <option value="0">Day</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">2</option>
                                <option value="4">3</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>

                            </select>
                            <select class="select-group select-group-month" formcontrolname="month">
                                <option value="0">Month</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                            <select class="select-group select-group-year" formcontrolname="year">
                                <option value="0: Object">Year</option>
                                <option value="1: Object">2020</option>
                                <option value="2: Object">2019</option>
                                <option value="3: Object">2018</option>
                                <option value="4: Object">2017</option>
                                <option value="5: Object">2016</option>
                                <option value="6: Object">2015</option>
                                <option value="7: Object">2014</option>
                                <option value="8: Object">2013</option>
                                <option value="9: Object">2012</option>
                                <option value="10: Object">2011</option>
                                <option value="11: Object">2010</option>
                                <option value="12: Object">2009</option>
                                <option value="13: Object">2008</option>
                                <option value="14: Object">2007</option>
                                <option value="15: Object">2006</option>
                                <option value="16: Object">2005</option>
                                <option value="17: Object">2004</option>
                                <option value="18: Object">2003</option>
                                <option value="19: Object">2002</option>
                                <option value="20: Object">2001</option>
                                <option value="21: Object">2000</option>
                                <option value="22: Object">1999</option>
                                <option value="23: Object">1998</option>
                                <option value="24: Object">1997</option>
                                <option value="25: Object">1996</option>
                                <option value="26: Object">1995</option>
                                <option value="27: Object">1994</option>
                                <option value="28: Object">1993</option>
                                <option value="29: Object">1992</option>
                                <option value="30: Object">1991</option>
                                <option value="31: Object">1990</option>
                                <option value="32: Object">1989</option>
                                <option value="33: Object">1988</option>
                                <option value="34: Object">1987</option>
                                <option value="35: Object">1986</option>
                                <option value="36: Object">1985</option>
                                <option value="37: Object">1984</option>
                                <option value="38: Object">1983</option>
                                <option value="39: Object">1982</option>
                                <option value="40: Object">1981</option>
                                <option value="41: Object">1980</option>
                                <option value="42: Object">1979</option>
                                <option value="43: Object">1978</option>
                                <option value="44: Object">1977</option>
                                <option value="45: Object">1976</option>
                                <option value="46: Object">1975</option>
                                <option value="47: Object">1974</option>
                                <option value="48: Object">1973</option>
                                <option value="49: Object">1972</option>
                                <option value="50: Object">1971</option>
                                <option value="51: Object">1970</option>
                                <option value="52: Object">1969</option>
                                <option value="53: Object">1968</option>
                                <option value="54: Object">1967</option>
                                <option value="55: Object">1966</option>
                                <option value="56: Object">1965</option>
                                <option value="57: Object">1964</option>
                                <option value="58: Object">1963</option>
                                <option value="59: Object">1962</option>
                                <option value="60: Object">1961</option>
                                <option value="61: Object">1960</option>
                                <option value="62: Object">1959</option>
                                <option value="63: Object">1958</option>
                                <option value="64: Object">1957</option>
                                <option value="65: Object">1956</option>
                                <option value="66: Object">1955</option>
                                <option value="67: Object">1954</option>
                                <option value="68: Object">1953</option>
                                <option value="69: Object">1952</option>
                                <option value="70: Object">1951</option>
                                <option value="71: Object">1950</option>
                                <option value="72: Object">1949</option>
                                <option value="73: Object">1948</option>
                                <option value="74: Object">1947</option>
                                <option value="75: Object">1946</option>
                                <option value="76: Object">1945</option>
                                <option value="77: Object">1944</option>
                                <option value="78: Object">1943</option>
                                <option value="79: Object">1942</option>
                                <option value="80: Object">1941</option>
                                <option value="81: Object">1940</option>
                                <option value="82: Object">1939</option>
                                <option value="83: Object">1938</option>
                                <option value="84: Object">1937</option>
                                <option value="85: Object">1936</option>
                                <option value="86: Object">1935</option>
                                <option value="87: Object">1934</option>
                                <option value="88: Object">1933</option>
                                <option value="89: Object">1932</option>
                                <option value="90: Object">1931</option>
                                <option value="91: Object">1930</option>
                                <option value="92: Object">1929</option>
                                <option value="93: Object">1928</option>
                                <option value="94: Object">1927</option>
                                <option value="95: Object">1926</option>
                                <option value="96: Object">1925</option>
                                <option value="97: Object">1924</option>
                                <option value="98: Object">1923</option>
                                <option value="99: Object">1922</option>
                                <option value="100: Object">1921</option>
                            </select>
                        </div>
                        <i class="fa fa-birthday-cake icon icon2" aria-hidden="true"></i>
                    </div>
                    <div class="legacy-check">
                        <div>
                            <input type="checkbox" name="accept" id="accept" value="accept-terms">
                            <label for="accept">I accept Ubisoft's <span>Terms of Use</span>, <span>Terms of Sale</span> and I agree with the <span>Privacy Policy</span>.</label><br>
                        </div>
                        <div>
                            <input type="checkbox" name="support-1" id="support-1" checked>
                            <labe for="support-1">Receive exclusive email newsletter content with offers and information about Ubisoft titles. I can unsubscribe at any time.</labe>
                        </div>
                        <div>
                            <input type="checkbox" name="support-2" id="support-2" checked>
                            <label for="support-2">Tailor Ubisoft ads on external sites by allowing my data to be securely shared with select partners, for this purpose only.</label>
                        </div>
                    </div>
                    <input type="submit" name="submit" id="submit" value="CREATE A UBISOFT ACCOUNT" class="create">
                </form>
            </div>
        </div>            
    </main>
</body>

</html>