<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="shortcut icon" href="../img/logo/logo.png" type="image/x-icon">
    <title>Buy Assassin's Creed Syndicate Gold Edition</title>
</head>

<body>
    <div class="header">
        <div class="header-menu">
            <div class="logo" onclick="window.location = 'home.html'" style="cursor: pointer;">
                <img src="../img/detail/logo.png" width="100px" style="margin-left: 1rem;">
            </div>
            <div class="sub-menu">
                <ul>
                    <li><a href="product.html">STORE</a></li>
                    <li><a href="#">NEWS</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">HELP</a></li>
                    <li><a href="#">UNREAL ENGINE</a></li>
                </ul>
                <div class="log-in" onclick="window.open('login.html')">
                    <img src="../img/detail/default_avatar.png" alt="login">
                    <div class="log-in-content">LOG IN</div>
                </div>
            </div>
            <div class="rightheader"></div>
        </div>
    </div>
    <div class="main">
        <div class="search">
            <div class="infor">
                <ul>
                    <li><a href="product.html">Back to Store</a></li>
                    <li><a href="#">Assassin's Creed Syndicate Gold Edition</a></li>
                </ul>
            </div>
            <div class="search-bar">
                <input aria-autocomplete="list" aria-expanded="false" role="combobox" placeholder="Search..." aria-label="Search" autocomplete="off" maxlength="350">
            </div>
        </div>
        <br>
        <div class="content">
            <div class="intro">
                <img src="../img/detail/main.png" width="900px">
                <div class="price">
                    <div class="logo-game">
                        <img src="../img/detail/main-logo.png" width="250px">
                    </div>
                    <div class="more-infor">
                        The Assassin’s Creed Syndicate - Gold Edition includes the Special Edition and the Season Pass.
                    </div>
                    <div class="buy">
                        <div class="money">
                            $17.50
                        </div>
                        <div class="button">
                            <button class="buynow"><span>Buy Now</span></button>
                            <button class="heart">&#9829</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="content-1">
                    <div class="sub">
                        About Assassin's Creed Syndicate
                    </div>
                    <div class="about-game">
                        <div class="infor1">
                            <div class="about">
                                <div class="a1">Developer</div>
                                <div class="a2">Ubisoft</div>
                            </div>
                            <div class="about">
                                <div class="a1">Publisher</div>
                                <div class="a2">Ubisoft</div>
                            </div>
                            <div class="about">
                                <div class="a1">Release Date</div>
                                <div class="a2">Oct 23, 2015</div>
                            </div>
                            <div class="about">
                                <div class="a1">Tags</div>
                                <div class="a2">Open WorldActionStealth</div>
                            </div>
                            <div class="about">
                                <div class="a1">Rating</div>
                                <div class="a2">-</div>
                            </div>
                            <div class="about">
                                <div class="a1">Platform</div>
                                <div class="a2">PC</div>
                            </div>
                        </div>
                        <div class="infor2">
                            <div class="infor-intro">
                                <h1 class="tittle">Gold Edition</h1>
                                <div class="introduce">
                                    Lead your underworld organisation and grow your influence to fight those who exploit the less privileged in the name of progress.
                                </div>
                                <div class="introduce">
                                    The Season Pass secures you access to a variety of additional content and exclusive perks:
                                </div>
                                <div class="introduce">
                                    ·The Jack The Ripper expansion: track London's most famous serial killer
                                    <br> ·The exclusive A Long Night mission
                                    <br> ·Two top-tier sets of gear and weapons
                                    <br> ·The Last Maharaja mission pack
                                    <br> ·A permanent XP boost
                                    <br> ·500 Helix Credits to purchase additional in-game content
                                    <br> ·The Streets of London gameplay pack
                                </div>
                            </div>
                            <div class="image">
                                <div class="img1">
                                    <img src="../img/detail/img-container-1.png" , width="900px">
                                </div>

                                <div class="img2">
                                    <img src="../img/detail/img-container-2.png" , width="440px">
                                    <img src="../img/detail/img-container-3.png" , width="440px">
                                </div>

                                <div class="img3">
                                    <img src="../img/detail/img-container-4.png" , width="900px">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-2">
                    <div class="sub">
                        Follow Us
                    </div>
                    <div class="about-game">
                        <div class="worldwide">
                            <img src="../img/detail/worldwide.png">
                        </div>
                    </div>
                </div>
                <div class="content-3">
                    <div class="sub">
                        Ratings
                    </div>
                    <div class="about-game">
                        <div class="about1">
                            <ul>
                                <li>
                                    <div class="css-1">
                                        <p class="css1-1">Eurogamer</p>
                                        <p class="css1-2">by Tom Phillips</p>
                                    </div>
                                    <div class="css-2">
                                        <div class="css2-1">Recommended</div>
                                        <p class="css2-2">
                                            "Syndicate moves Assassin's Creed forward with a solid new adventure, a beautiful London playground and a renewed sense of fun."
                                        </p>
                                        <div class="css2-3">
                                            READ FULL REVIEW
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="css-1">
                                        <p class="css1-1">IGN</p>
                                        <p class="css1-2">by Daniel Krupa</p>
                                    </div>
                                    <div class="css-2">
                                        <div class="css2-1">8.2/10</div>
                                        <p class="css2-2">
                                            "Assassin's Creed Syndicate is the most fun I've had with an Assassin's game since Black Flag."
                                        </p>
                                        <div class="css2-3">
                                            READ FULL REVIEW
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="css-1">
                                        <p class="css1-1">Game Informer</p>
                                        <p class="css1-2">by Joe Juba</p>
                                    </div>
                                    <div class="css-2">
                                        <div class="css2-1">9/10</div>
                                        <p class="css2-2">
                                            "Whether you're reclaiming the city from gangs, killing Templars, or searching for hidden secrets, this is an example of the Assassin's Creed formula done right"
                                        </p>
                                        <div class="css2-3">
                                            READ FULL REVIEW
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="about2">
                            <p>Reviews provided by OpenCritic</p>
                        </div>
                    </div>
                </div>
                <div class="content-4">
                    <div class="sub">
                        Specifications
                    </div>
                    <div class="about-game">
                        <div class="about1">
                            <div class="windows">
                                <span>WINDOWS</span>
                            </div>
                            <table class="table">
                                <tbody class="tbody">
                                    <tr class="minimum">
                                        <td>
                                            <div class="mini">
                                                <span>Minimum</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mini">
                                                <span>Recommended</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mini-css">
                                            <div class="mini">
                                                <span>OS</span>
                                            </div>
                                            <span class="mini-content">Windows 7 SP1 or Windows 8.1 or Windows 10 (64bit versions)</span>
                                        </td>
                                        <td class="mini-css">
                                            <div class="mini">
                                                <span>OS</span>
                                            </div>
                                            <span class="mini-content">Windows 7 SP1 or Windows 8.1 or Windows 10 (64bit versions)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mini-css">
                                            <div class="mini">
                                                <span>CPU</span>
                                            </div>
                                            <span class="mini-content">Intel Core i5 2400s @ 2.5 GHz / AMD FX 6350 @ 3.9 GHz</span>
                                        </td>
                                        <td class="mini-css">
                                            <div class="mini">
                                                <span>CPU</span>
                                            </div>
                                            <span class="mini-content">Intel Core i7 3770 @ 3.5 GHz / AMD FX 8350 @ 4.0 GHz</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mini-css">
                                            <div class="mini">
                                                <span>GPU</span>
                                            </div>
                                            <span class="mini-content">NVIDIA GeForce GTX 660 / AMD Radeon R9 270 (2GB VRAM with Shader Model 5.0)</span>
                                        </td>
                                        <td class="mini-css">
                                            <div class="mini">
                                                <span>GPU</span>
                                            </div>
                                            <span class="mini-content">NVIDIA GeForce GTX 760 (4GB) or the newer GTX 970 (4GB) / AMD Radeon R9 280X (3GB of VRAM) or better</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mini-css">
                                            <div class="mini">
                                                <span>Memory</span>
                                            </div>
                                            <span class="mini-content">6 GB RAM</span>
                                        </td>
                                        <td class="mini-css">
                                            <div class="mini">
                                                <span>Memory</span>
                                            </div>
                                            <span class="mini-content">8 GB RAM</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mini-css">
                                            <div class="mini">
                                                <span>Storage</span>
                                            </div>
                                            <span class="mini-content">---</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mini-css">
                                            <div class="mini">
                                                <span>Sound Card</span>
                                            </div>
                                            <span class="mini-content">DirectX Compatible Sound Card with latest drivers</span>
                                        </td>
                                        <td class="mini-css">
                                            <div class="mini">
                                                <span>Sound Card</span>
                                            </div>
                                            <span class="mini-content">DirectX Compatible Sound Card with latest drivers</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mini-css">
                                            <div class="mini">
                                                <span>Additional Notes</span>
                                            </div>
                                            <span class="mini-content">*Technical Notice from the developer: For a recommended experience, the game requires a video card with at least 3GB of VRAM when playing at a full HD resolution. While we encourage you to fiddle with the advanced options to fully customize your gaming experience, please keep an eye out for the VRAM meter usage when you adjust these settings.</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="about2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="end">
            <footer class="end-1">
                <div class="social-containe">
                    <div class="col-1">
                        <ul class="social">
                            <li data-component="Social">
                                <img src="../img/detail/facebook.png" , width="50px">
                            </li>
                            <li data-component="Social">
                                <img src="../img/detail/twitter.png" , width="50px">
                            </li>
                            <li data-component="Social">
                                <img src="../img/detail/youtube.png" , width="50px">
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="link-container">
                    <div class="col-3">
                        <div class="link-1">
                            <div class="subtittle">
                                <span>Resources</span>
                            </div>
                            <div class="inner-wrap">
                                <ul class="first-col">
                                    <li data-component="FooterLinks">
                                        <a href="#" class="focusable" target rel="noopenernoreferrer">Support-A-Creator</a>
                                    </li>
                                    <li data-component="FooterLinks">
                                        <a href="#" class="focusable" target rel="noopenernoreferrer">Publish on Ubisoft Games</a>
                                    </li>
                                    <li data-component="FooterLinks">
                                        <a href="#" class="focusable" target rel="noopenernoreferrer">Careers</a>
                                    </li>
                                </ul>
                                <ul class="second-col">
                                    <li data-component="FooterLinks">
                                        <a href="#" class="focusable" target rel="noopenernoreferrer">Company</a>
                                    </li>
                                    <li data-component="FooterLinks">
                                        <a href="#" class="focusable" target rel="noopenernoreferrer">Fan Art Policy</a>
                                    </li>
                                    <li data-component="FooterLinks">
                                        <a href="#" class="focusable" target rel="noopenernoreferrer">UX Research</a>
                                    </li>
                                </ul>
                                <ul class="third-col">
                                    <li data-component="FooterLinks">
                                        <a href="#" class="focusable" target rel="noopenernoreferrer">Store EULA</a>
                                    </li>
                                    <li data-component="FooterLinks">
                                        <a href="#" class="focusable" target rel="noopenernoreferrer">Online Services</a>
                                    </li>
                                    <li data-component="FooterLinks">
                                        <a href="#" class="focusable" target rel="noopenernoreferrer">Community Rules</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="link-1">
                            <div class="subtittle">
                                <span>Made By Ubisoft Games</span>
                            </div>
                            <div class="inner-wrap">
                                <ul class="first-col">
                                    <li data-component="FooterLinks">
                                        <a href="#" class="focusable" target rel="noopenernoreferrer">Battle Breakers</a>
                                    </li>
                                    <li data-component="FooterLinks">
                                        <a href="#" class="focusable" target rel="noopenernoreferrer">Fortnite</a>
                                    </li>
                                    <li data-component="FooterLinks">
                                        <a href="#" class="focusable" target rel="noopenernoreferrer">Infinity Blade</a>
                                    </li>
                                    <li data-component="FooterLinks">
                                        <a href="#" class="focusable" target rel="noopenernoreferrer">Robo Recall</a>
                                    </li>
                                </ul>
                                <ul class="second-col">
                                    <li data-component="FooterLinks">
                                        <a href="#" class="focusable" target rel="noopenernoreferrer">Shadow Complex</a>
                                    </li>
                                    <li data-component="FooterLinks">
                                        <a href="#" class="focusable" target rel="noopenernoreferrer">Spyjinx</a>
                                    </li>
                                    <li data-component="FooterLinks">
                                        <a href="#" class="focusable" target rel="noopenernoreferrer">Unreal Tournament</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="border-color">
                <div class="copyright">
                    <div class="col-4">
                        <div class="para">
                            <span class="col-para">© 2020, Ubisoft Games, Inc. All rights reserved. Epic, Ubisoft Games, the Ubisoft Games logo, Fortnite, the Fortnite logo, Unreal, Unreal</span>
                            <span class="col-para">Engine, the Unreal Engine logo, Unreal Tournament, and the Unreal Tournament logo are trademarks or registered trademarks of</span>
                            <span class="col-para">Ubisoft Games, Inc. in the United States of America and elsewhere. Other brands or product names are the trademarks of their</span>
                            <span class="col-para">respective owners. Non-US transactions through Ubisoft Games International, S.à r.l. </span>
                        </div>
                    </div>
                </div>
                <div class="footer-legal">
                    <div class="legal">
                        <ul class="link-2">
                            <li class="more-link">
                                <a href="#" class="focusable" target rel="noopenernoreferrer">Terms of Service</a>
                            </li>
                            <li class="more-link">
                                <a href="#" class="focusable" target rel="noopenernoreferrer">Privacy Policy</a>
                            </li>
                            <li class="more-link">
                                <a href="#" class="focusable" target rel="noopenernoreferrer">Store Refund Policy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="legal">
                        <img src="../img/detail/logo.png" , width="100px">
                        <img src="../img/detail/logoUE.png" , width="50px">
                    </div>
                </div>
            </footer>
        </div>
    </footer>
</body>

</html>