<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="../css/aos.css">
    <link rel="shortcut icon" href="../img/logo/logo.png" type="image/png">
    <title>Assassin's Creed</title>
</head>

<body>
    <div class="ubisoft-menu" id="ubisoft-menu">
        <div class="logo-ubisoft" onclick="window.location='home.html'">
            <img src="../img/logo/ubisoft-white.png" alt="">
        </div>
        <div class="main-menu">
            <ul>
                <li>UBISOFT+</li>
                <li>NEWS</li>
                <li>FORUMS</li>
                <li>SUPPORT</li>
            </ul>
        </div>
        <div class="login">
            <div class="search-area">
              <button id="search-button" onclick="searchClick()"><img src="../img/logo/product-search.png" alt="search"></button>
              <div><input type="text" placeholder="Search..." id="input-search"></div>
            </div>
            <div class="login-round" onclick="window.open('login.html')">
              <img src="../img/logo/product-acc.png" alt="login">
              <div>LOG IN</div>
            </div>
        </div>
    </div>
    <div class="ass-menu">
        <div class="ass-logo" onclick="window.location='#ubisoft-menu'"><img src="../img/logo/ass-logo.png"></div>
        <div class="ass-content">
            <ul>
                <li><a href="#ass-valhalla">VALHALLA</a></li>
                <li><a href="#all-games">ALL GAMES</a></li>
            </ul>
        </div>
        <button class="lang-button" id="eng-button" onclick="langClick()">
            <img src="../img/logo/united-kingdom .png" alt="England">
            <div class="language">ENGLISH</div>
            <img src="../img/logo/arrow-down.png" id="lang-button">
          </button>
          <button class="lang-button" id="vn-button">
            <img src="../img/logo/vietnam.png" alt="Vietnam">
            <div class="language">VIETNAMESE</div>
        </button>
    </div>
    <div class="bg" id="bg"data-aos="fade-out">
        <img src="../img/content/ass-bg.png">
    </div>
    <div class="overview" data-aos="flip-up" data-aos-duration="1000">
        <h2>Assassin's Creed Franchise</h2>
        <div>Play your way through history in the award-winning video game series. Assassin's Creed immerses you in the memories of your ancestors, fighting to protect free will at pivotal moments in human history.</div>
    </div>
    <div class="valhalla" id="ass-valhalla" data-aos="fade-up" data-aos-duration="1000">
        <div class="val-content">
            <h2>Assassin's Creed Valhalla</h2>
            <p>In Assassin’s Creed Valhalla, you are Eivor, a fierce Viking warrior. Explore a dynamic open world set against the brutal backdrop of England’s Dark Ages. Raid your enemies and build your political power in your quest to earn your place in Valhalla.</p>
            <div class="val-button">More Info</div>
        </div>
        <div class="val-img"><img src="../img/content/valhalla.png" alt=""></div>
    </div>
    <div class="odyssey_origins">
        <h2 id="all-games">Discover Assassin's Creed Franchise</h2>
        <div class="content-odyssey-origins">
            <div class="odyssey">
                <img src="../img/content/Odyssey.png" alt="" data-aos="fade-up" data-aos-duration="800">
                <h2  data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin's Creed Odyssey</h2>
                <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Write your own epic odyssey and become a legendary Greek Hero in Assassin’s Creed Odyssey, an inspiring adventure where you must forge your destiny. Influence how history unfolds as you discover a rich world shaped by your decisions.</p>
                <div class="visit-button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div>More Info</div>
                </div>
            </div>
            <div class="origins">
                <img src="../img/content/Origins.png" alt="" data-aos="fade-up" data-aos-duration="800">
                <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin's Creed Origins</h2>
                <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin’s Creed Origins uncovers the beginning of the Brotherhood. Fight in epic battles, master a reinvented combat system and explore the entirety of Egypt. Complete missions in any order you choose, and follow your own path to greatness.</p>
                <div class="visit-button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div>More Info</div>
                </div>
            </div>
        </div>
    </div>
    <div class="AC-bg-white">
        <div class="content-bg-white">
            <div class="left">
                <img src="../img/content/Syndicate.png" alt="" data-aos="fade-up" data-aos-duration="800">
                <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin's Creed Syndicate</h2>
                <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Play as Evie and Jacob Frye, young and reckless Assassin twins, and use your skills to help those trampled by the march of progress. Travel the city at the height of the Industrial Revolution and meet iconic historical figures.</p>
                <div class="visit-button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100" onclick="window.open('More Info.html')">
                    <div onclick="window.location = 'detail.html'">More Info</div>
                </div>
            </div>
            <div class="right">
                <img src="../img/content/Unity.png" alt="" data-aos="fade-up" data-aos-duration="800">
                <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin's Creed Unity</h2>
                <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">In Assassin’s Creed Unity, play as Arno through the storming of the Bastille to the execution of King Louis XVI, experience the French Revolution as never before – and help the people of France carve an entirely new destiny.</p>
                <div class="visit-button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div>More Info</div>
                </div>
            </div>
        </div>
    </div>
    <div class="AC-bg-gray">
        <div class="content-bg-gray">
            <div class="left">
                <img src="../img/content/ACIV_Black_Flag.png" alt="" data-aos="fade-up" data-aos-duration="800">
                <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin's Creed IV Black Flag</h2>
                <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">In Assassin’s Creed IV Black Flag, play as captain Edward Kenway, standing among legendary pirates such as Blackbeard, as you establish a lawless republic in the Bahamas and relive the truly explosive events that defined the Golden Age of Piracy.</p>
                <div class="visit-button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div>More Info</div>
                </div>
            </div>
            <div class="right">
                <img src="../img/content/ACIII.png" alt="" data-aos="fade-up" data-aos-duration="800">
                <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin's Creed III</h2>
                <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin’s Creed III takes you back to the American Revolutionary War, a time of civil unrest. As a Native American fights to protect his land and his people, he will become an Assassin who ignite the flames of a young nation’s revolution.</p>
                <div class="visit-button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div>More Info</div>
                </div>
            </div>
        </div>
    </div>
    <div class="AC-bg-white">
        <div class="content-bg-white">
            <div class="left">
                <img src="../img/content/AC_Revelation.png" alt="" data-aos="fade-up" data-aos-duration="800">
                <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin's Creed Revelations</h2>
                <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">In Assassin’s Creed Revelations, Master Assassin Ezio Auditore walks in the footsteps of the legendary Mentor Altaïr. It is a perilous path – one that will take Ezio to Constantinople, where an army of Templars threatens to destabilize the region.</p>
                <div class="visit-button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div>More Info</div>
                </div>
            </div>
            <div class="right">
                <img src="../img/content/AC_Brotherhood.png" alt="" data-aos="fade-up" data-aos-duration="800">
                <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin's Creed Brotherhood</h2>
                <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">In Assassin’s Creed Brotherhood, live and breathe as Ezio, a legendary Master Assassin, in his struggle against the powerful Templar Order. He must journey into Rome, center of power, greed and corruption to strike at the heart of the enemy.</p>
                <div class="visit-button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div>More Info</div>
                </div>
            </div>
        </div>
    </div>
    <div class="AC-bg-gray">
        <div class="content-bg-gray">
            <div class="left">
                <img src="../img/content/ACII.png" alt="" data-aos="fade-up" data-aos-duration="800">
                <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin's Creed II</h2>
                <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin’s Creed 2 is the follow-up to the title that became the fastest-selling new IP in video game history. The highly anticipated title features a new hero, Ezio Auditore, a young Italian noble, and a new era, the Renaissance.</p>
                <div class="visit-button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div>More Info</div>
                </div>
            </div>
            <div class="right">
                <img src="../img/content/ACI.png" alt="" data-aos="fade-up" data-aos-duration="800">
                <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin's Creed</h2>
                <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">The setting is 1191 AD. The Third Crusade is tearing the Holy Land apart. You, Altair, intend to stop the hostilities by suppressing both sides of the conflict. You are an Assassin, a warrior shrouded in secrecy and feared for your ruthlessness.</p>
                <div class="visit-button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div>More Info</div>
                </div>
            </div>
        </div>
    </div>
    <div class="AC-bg-white">
        <div class="content-bg-white">
            <div class="left">
                <img src="../img/content/AC_Rebel_Collection.png" alt="" data-aos="fade-up" data-aos-duration="800">
                <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin's Creed : The Rebel Collection</h2>
                <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin's Creed The Rebel Collection offers two action-packed games and all past single-player DLC. Become the most feared pirate in Assassin’s Creed IV: Black Flag then transform into the ultimate Assassin hunter in Assassin’s Creed Rogue.</p>
                <div class="visit-button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div>More Info</div>
                </div>
            </div>
            <div class="right">
                <img src="../img/content/ACIII_Remastered.png" alt="" data-aos="fade-up" data-aos-duration="800">
                <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin's Creed III Remastered</h2>
                <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Relive the American Revolution or experience it for the first time in Assassin's Creed III Remastered, with enhanced graphics and improved gameplay mechanics. Plus, Assassin's Creed Liberation Remastered and all solo DLC content are included.</p>
                <div class="visit-button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div>More Info</div>
                </div>
            </div>
        </div>
    </div>
    <div class="AC-bg-gray">
        <div class="content-bg-gray">
            <div class="left">
                <img src="../img/content/AC_Rogue.png" alt="" data-aos="fade-up" data-aos-duration="800">
                <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin's Creed Rogue Remastered</h2>
                <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">The darkest chapter of the franchise, Assassin’s Creed Rogue, has been remastered for Xbox One and PlayStation4 system, now featuring high-resolution textures, improved shadows and lighting in addition to several graphical enhancements.</p>
                <div class="visit-button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div>More Info</div>
                </div>
            </div>
            <div class="right">
                <img src="../img/content/AC_Ezio_Collection.png" alt="" data-aos="fade-up" data-aos-duration="800">
                <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin's Creed The Ezio Collection</h2>
                <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Make history as the legendary Master Assassin, Ezio Auditore, in Assassin’s Creed The Ezio Collection, which includes the single-player campaigns from Assassin’s Creed II, Assassin’s Creed Brotherhood, and Assassin’s Creed Revelations.</p>
                <div class="visit-button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div>More Info</div>
                </div>
            </div>
        </div>
    </div>
    <div class="AC-bg-white">
        <div class="content-bg-white">
            <div class="left">
                <img src="../img/content/AC_Rebellion.png" alt="" data-aos="fade-up" data-aos-duration="800">
                <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin's Creed Rebellion</h2>
                <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Play with your favorite Assassins from different Assassin's Creed universes simultaneously for the first time! Build, Manage and Control your Brotherhood by collecting famous Assassins to defeat the Templars in epic infiltration missions.</p>
                <div class="visit-button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div>More Info</div>
                </div>
            </div>
            <div class="right">
                <img src="../img/content/AC_Chronicles_Russia.png" alt="" data-aos="fade-up" data-aos-duration="800">
                <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin's Creed Chronicles Russia</h2>
                <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">In Assassin’s Creed Chronicles: Russia, join Nikolaï Orelov in his search for redemption as you journey through an iconic art style Russia. Survive the aftermath of October Revolution and experience the thrill of being a stealthy Assassin.</p>
                <div class="visit-button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div>More Info</div>
                </div>
            </div>
        </div>
    </div>
    <div class="AC-bg-gray">
        <div class="content-bg-gray">
            <div class="left">
                <img src="../img/content/AC_Chronicles_India.png" alt="" data-aos="fade-up" data-aos-duration="800">
                <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin's Creed Chronicles India</h2>
                <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">In Assassin’s Creed Chronicles: India, embody Arbaaz in his quest for retribution through the 19th century Colonial India. Zip-line across the streets of Amritsar and hunt legendary artifacts, following in the footsteps of Alexander the Great.</p>
                <div class="visit-button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div>More Info</div>
                </div>
            </div>
            <div class="right">
                <img src="../img/content/AC_Chronicles.png" alt="" data-aos="fade-up" data-aos-duration="800">
                <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Assassin's Creed Chronicles</h2>
                <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">In Assassin’s Creed Chronicles: China. You embody Shao Jun, the last remaining Assassin of the Chinese Brotherhood in 1526. Newly trained by Mentor Ezio Auditore, she is hell-bent to exact vengeance and restore her fallen Brotherhood.</p>
                <div class="visit-button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div>More Info</div>
                </div>
            </div>
        </div>
    </div>
   
    <footer class="footer">
        <div class="footer-icon-bar">
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="#" class="footer-link">
                        <p class="footer-img">
                            <img src="../img/store-site/icon1.svg" alt="">
                        </p>
                        <p class="footer-text">
                            GET 20% DISCOUNT</br>WITH
                            <span class="footer-icon-gold"></span>
                            100 UNITS
                        </p>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="#" class="footer-link">
                        <p class="footer-img">
                            <img src="../img/store-site/icon2.svg" alt="">
                        </p>
                        <p class="footer-text">PRE ORDER</br>ADVANTAGES</p>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="#" class="footer-link">
                        <p class="footer-img">
                            <img src="../img/store-site/icon3.svg" alt="">
                        </p>
                        <p class="footer-text">Great</br>Customer Service</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-container">
            <div class="footer-contact">
                <div class="footer-section">
                    <div class="footer-content">
                        <p class="footer-title">Get to know us</p>
                        <div class="footer-container-list">
                            <ul>
                                <li>
                                    <a href="#">
                                        <span>About Ubisoft</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Careers</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Ubisoft Connect</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Ubisoft.com</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Support</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Discover Ubisoft Connect</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-section">
                    <div class="footer-content">
                        <p class="footer-title">Discover more</p>
                        <div class="footer-container-list">
                            <ul>
                                <li>
                                    <a href="#">
                                        <span>Games</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Additional content</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Ubisoft+</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Deal</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Store advantages</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-section">
                    <div class="footer-content">
                        <p class="footer-title">Let us help you</p>
                        <div class="footer-container-list">
                            <ul>
                                <li>
                                    <a href="#">
                                        <span>My orders</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Privacy policy</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Terms & conditions</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Ubisoft+ Subscription Terms</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span>Legalnotice</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span>Returns and replacements</span>
                                    </a>
                                </li>
                                <li>
                                    <a href=""><span>Withdrawal form</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-section">
                    <a href="#" class="footer-faq">FAQ / HELP</a>
                    <ul class="footer-social">
                        <li>
                            <a href="#">
                                <img src="../img/store-site/facebook.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../img/store-site/twitter.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../img/store-site/youtube.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../img/store-site/twitch.svg" alt="">
                            </a>
                        </li>
                    </ul>
                    <div class="footer-card">
                        <span><img src="../img/store-site/icon4.svg" alt=""></span>
                        <span><img src="../img/store-site/icon5.svg" alt=""></span>
                        <span><img src="../img/store-site/icon6.svg" alt=""></span>
                        <span><img src="../img/store-site/icon7.svg" alt=""></span>
                        <span><img src="../img/store-site/icon8.svg" alt=""></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-legal">
            <div class="footer-legal-box">
                <p>
                    2001-2020 Ubisoft Entertainment. All Rights Reserved. Ubisoft, Ubi.com and the Ubisoft logo are
                    trademarks of Ubisoft Entertainment in the U.S and/or other countries
                </p>
            </div>
        </div>
    </footer>
</body>
<script src="../js/index.js"></script>
<script src="../LibraryJS/aos.js"></script>
<script>
  AOS.init({
      once: true,
  });
</script>
</html>