<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubisoft Store | Discover the world of Ubisoft </title>
    <link rel="stylesheet" href="../css/header-store.css">
    <link rel="stylesheet" href="../css/footer-store.css">
    <link rel="stylesheet" href="../css/main-store.css">
    <link rel="shortcut icon" href="../img/logo/logo.png" type="image/png">
</head>

<body>
    <main class="store">
        <header class="header">
            <div class="header-main">
                <nav class="header-nav">
                    <div class="nav-top">
                        <div class="primary-nav-item primary-nav-left"></div>
                        <div class="primary-nav-item primary-nav-right">
                            <div class="primary-contain">
                                <a href="#" class="primary-link">
                                    <span>Get 20% discount with </span>
                                    <span>
                                        <img src="../img/store-site/coin.svg" alt="" class="img-coin">
                                    </span>
                                    <span style="color:#edc800;">100</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="nav-main">
                        <div class="nav-main-left">
                            <div class="nav-logo">
                                <a href="home.html" class="nav-logo-link">
                                    <img src="../img/store-site/logo.png" class="nav-img" />
                                </a>
                            </div>
                            <ul class="nav-list">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <span class="nav-text">Video Games</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <span class="nav-text">DLC</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <span class="nav-text">Winter Sale</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <span class="nav-text">UBISOFT+</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-main-right">
                            <div class="nav-wrapper">
                                <form class="nav-search">
                                    <button class="nav-btn">
                                        <img src="../img/store-site/search.svg" alt="" class="nav-icon">
                                    </button>
                                    <input type="text" placeholder="Browse games, collectibles, and more ..." />
                                </form>
                                <div class="nav-utility">
                                    <div class="utility-item">
                                        <a href="login.html" target="#">
                                            <img src="../img/store-site/account.svg" alt="" class="nav-icon">
                                        </a>
                                    </div>
                                    <div class="utility-item heart">
                                        <a href="#">
                                            <img src="../img/store-site/heart.svg" alt="" class="nav-icon">
                                        </a>
                                    </div>
                                    <div class="utility-item cart">
                                        <a href="#">
                                            <img src="../img/store-site/cart.svg" alt="" class="nav-icon">
                                            <span class="cart-quantity">0</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-bottom">
                        <div class="nav-pencil-line">
                            <a href="#" class="pencil-line-link">
                                <span style="text-transform: uppercase;">Get an extra 21% off with the code
                                    <strong>WELCOME2021</strong>
                                </span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div class="main">
            <div class="cart-empty">
                <div class="cart-empty-container">
                    <div class="cart-empty-text">
                        <h1 class="title">Your bag is empty.</h1>
                        <div class="button-wrapper">
                            <a href="#" class="button">
                                <span>Shop now</span>
                            </a>
                        </div>
                    </div>
                    <div class="cart-img-container">
                        <div class="img-title">
                            <img src="../img/store-site/empty_cart.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-seo">
            <div class="footer-seo-container">
                <p class="footer-seo-text">
                    Find all your favorite heroes on the official Ubisoft store. New products, exclusive collectors
                    editions and amazing promotions all year round: only the best from Ubisoft! From season passes to
                    collectibles, enjoy the complete gaming experience. The Ubisoft store features the best adventures
                    on console and PC: write your own odyssey with Assassin's Creed Odyssey, become an agent of The
                    Division with The Division 2, or join the Special Forces with Rainbow Six Siege.
                </p>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-icon-bar">
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="#" class="footer-link">
                            <p class="footer-img">
                                <img src="../img/store-site/icon1.svg" alt="">
                            </p>
                            <p class="footer-text">
                                GET 20% DISCOUNT</br>WITH
                                <span class="footer-icon-gold"></span>
                                100 UNITS
                            </p>
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-link">
                            <p class="footer-img">
                                <img src="../img/store-site/icon2.svg" alt="">
                            </p>
                            <p class="footer-text">PRE ORDER</br>ADVANTAGES</p>
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-link">
                            <p class="footer-img">
                                <img src="../img/store-site/icon3.svg" alt="">
                            </p>
                            <p class="footer-text">Great</br>Customer Service</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-container">
                <div class="footer-contact">
                    <div class="footer-section">
                        <div class="footer-content">
                            <p class="footer-title">Get to know us</p>
                            <div class="footer-container-list">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span>About Ubisoft</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Careers</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Ubisoft Connect</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Ubisoft.com</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Support</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Discover Ubisoft Connect</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-section">
                        <div class="footer-content">
                            <p class="footer-title">Discover more</p>
                            <div class="footer-container-list">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span>Games</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Additional content</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Ubisoft+</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Deal</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Store advantages</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-section">
                        <div class="footer-content">
                            <p class="footer-title">Let us help you</p>
                            <div class="footer-container-list">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span>My orders</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Privacy policy</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Terms & conditions</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Ubisoft+ Subscription Terms</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span>Legalnotice</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span>Returns and replacements</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href=""><span>Withdrawal form</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-section">
                        <a href="#" class="footer-faq">FAQ / HELP</a>
                        <ul class="footer-social">
                            <li>
                                <a href="#">
                                    <img src="../img/store-site/facebook.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../img/store-site/twitter.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../img/store-site/youtube.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../img/store-site/twitch.svg" alt="">
                                </a>
                            </li>
                        </ul>
                        <div class="footer-card">
                            <span><img src="../img/store-site/icon4.svg" alt=""></span>
                            <span><img src="../img/store-site/icon5.svg" alt=""></span>
                            <span><img src="../img/store-site/icon6.svg" alt=""></span>
                            <span><img src="../img/store-site/icon7.svg" alt=""></span>
                            <span><img src="../img/store-site/icon8.svg" alt=""></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-legal">
                <div class="footer-legal-box">
                    <p>
                        2001-2020 Ubisoft Entertainment. All Rights Reserved. Ubisoft, Ubi.com and the Ubisoft logo are
                        trademarks of Ubisoft Entertainment in the U.S and/or other countries
                    </p>
                </div>
            </div>
        </footer>
    </main>
</body>

</html>